<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/viewDocs.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
<body>
  <div id='container'></div>
  <nav class="navbar">
    <img src="media/logo.png" alt="Logo Unify" class="logo">
    <div class="search-container">
      <input type="text" placeholder="Buscar por nombre..." class="search-input">
    </div>
    <div class="nav-icons">
        <a href="#favorites" class="icon"><i class="fas fa-heart"></i></a>
        <a href="#settings" class="icon"><i class="fas fa-cog"></i></a>
        <a href="#account" class="icon"><i class="fas fa-user"></i></a>
    </div>
  </nav>
  <div class="hero">
    <div class="hero-title"><h1>Documentos Cargados</h1></div>
    <div class="documents-container">
      <% @documents.each do |document| %>
        <div class="document-card" id="document-<%= document.id %>">
          <!-- File es un metodo para poder obtener el nombre del documento sin la extension pdf -->
          <h3 class="document-title"><%= File.basename(document.filename, File.extname(document.filename)) %></h3>
          
          <div class="document-actions" id="actions-<%= document.id %>">
            <p>Fecha de carga: <%= document.uploaddate %></p>
            <a href="/documents/<%= document.id %>" class="btn-view">View Document</a>
            <a href="/documents/<%= document.id %>/practiceDoc" class="btn-view">Practice</a>
            <a href="/documents/<%= document.id %>/statistics" class="btn-stats">View Statistics</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

  <script src="viewDocs.js"></script>

  <script>
    function toggleCard(element) {
      // Remueve la clase 'active' de todas las tarjetas
      document.querySelectorAll('.document-card').forEach(card => {
        card.classList.remove('active');
      });

      // Añade la clase 'active' solo a la tarjeta clicada
      element.classList.add('active');
    }

  </script>
</body>
</html>
