<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIFY - Profile</title>
    <link rel="stylesheet" href="settings.css">
</head>
<!--<figure><img src="media/logo.png" alt="logo"></figure><span>UNIFY</span>-->
<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">
        <aside class="sidebar">
            <button class="close-btn" onclick="toggleSidebar()">✖</button>
            <h2>UNIFY</h2>
            <p>Hello <%= user.username%>!</p>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/view_docs"><li>Documents</li></a>
                <a href="/practice"><li>Practice</li></a>
                <a href="/progress"><li>Leaderboard</li></a>
                <a href="/#us"><li>Us</li></a>
            </ul>
            <button class="contact">Contact +</button>
        </aside>
        <div class="content-main" id="mainContent">
            <button class="sidebar-toggle" onclick="toggleSidebar()">&#9776;</button>
            <div class="content-box">
                <div class="title">
                    <span>Profile Information</span>
                </div>

                <!-- ===== ===== Work & Skills Section ===== ===== -->
                <section class="work_skills card">
                    <!-- ===== Work Container ===== -->
                    <div class="work">
                        <h1 class="heading">Your</h1>
                        <div class="primary">
                            <h1>Account Settings</h1>
                            <span>OPTIONS</span>
                            <li><a href="/settings/profile">Update Profile</a></li>
                            <li><a href="/give_me_admin_please">Manage Roles and Permissions</a></li>
                            <li><a href="/settings/password">Change Password</a></li>
                            <%# <li><a href="/settings/notifications">Notifications</a></li> %>
                            <%# <li><a href="/privacy">Privacy</a></li> %>
                            <%# <li><a href="/settings/language">Language</a></li> %>
                            <%# <li><a href="/settings/accessibility">Accessibility</a></li> %>
                        </div>
                    </div>
                    <div class="delete-account">
                        <button id="delete-btn" onclick="showConfirmation()">Delete account</button>
                        <div class="cardModal" id="confirmationModal" style="display: none;">
                            <div class="card-content">
                                <p class="card-heading">Delete Account?</p>
                                <p class="card-description">Are you sure you want to delete this user?</p>
                            </div>
                            <div class="modal-button-wrapper">
                                <!-- Botón de cancelar -->
                                <button class="modal-button cancel" onclick="closeConfirmation()">Cancel</button>
                                
                                <!-- Formulario de eliminación -->
                                <form action="/settings/<%= user.id %>" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="modal-button delPrimary">Delete</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </section>


                <!-- ===== ===== User Details Sections ===== ===== -->
                <section class="userDetails card">
                    <div class="userInfo">
                        <div class="userName">
                            <h1 class="name"><%= user.name %> 
                                <% if user.lastname != "UnknownLastName"%>
                                    <%=user.lastname%>
                                <% end %>
                            </h1>
                            <div class="map">
                                <i class="ri-map-pin-fill ri"></i>
                                <span>Córdoba, ARG 🇦🇷</span>
                            </div>
                        </div>

                        <% if user.is_admin == 1 %>
                            <p>Administrator</p>
                        <% else %>
                            <p>Student</p>
                        <% end %>

                        <div class="rank">
                            <h1 class="heading">Ranking</h1>
                            <span><%= @position %></span>
                            <div class="rating">
                                <i class="ri-star-fill rate"></i>
                                <i class="ri-star-fill rate"></i>
                                <i class="ri-star-fill rate"></i>
                                <i class="ri-star-fill rate"></i>
                                <i class="ri-star-fill rate underrate"></i>
                            </div>
                        </div>

                        <div class="btns">
                            <ul>
                                <li class="active">
                                    <i class="ri-check-fill ri"></i>
                                    <button id="edit-btn" class="edit-btn">Edit <span>&#128247;</span></button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="profile">
                        <figure><img id="profile-image" src="media/profile/default.jpeg" alt="profile"></figure>
                    </div>
                </section>


                <!-- ===== ===== Timeline & About Sections ===== ===== -->
                <section class="timeline_about card">
                    <div class="tabs">
                        <ul>
                            <li class="about active">
                                <i class="ri-user-3-fill ri"></i>
                                <span>About</span>
                            </li>
                        </ul>
                    </div>

                    <div class="contact_Info">
                        <h1 class="heading">Contact Information</h1>
                        <ul>
                            <% if user.cellphone != "UnknownCellphone" %>
                                <li class="phone">
                                    <h1 class="label">Phone:</h1>
                                    <span class="info"><%= user.cellphone %></span>
                                </li>
                            <% end %>

                            <li class="email">
                                <h1 class="label">E-mail:</h1>
                                <span class="info"><%= user.email %></span>
                            </li>

                        </ul>
                    </div>

                    <div class="basic_info">
                        <h1 class="heading">Basic Information</h1>
                        <ul class="info-list">
                            <% if user.b_day %>
                                <li class="birthday">
                                    <h1 class="label">Birthday:</h1>
                                    <span class="info"><%=user.b_day%></span>
                                </li>
                            <% end %>

                            <% if user.gender != "UnknownGender" %>
                                <li class="gen">
                                    <h1 class="label">Gender:</h1>
                                    <span class="info"><%=user.gender%></span>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            const toggleButton = document.querySelector('.sidebar-toggle');
            
            // Alternar visibilidad de la barra lateral
            sidebar.classList.toggle('hidden');
            
            // Alternar visibilidad del botón de tres líneas
            toggleButton.style.display = sidebar.classList.contains('hidden') ? 'block' : 'none';
        }

        // Array de imágenes
        const images = [
            'media/profile/profile1.jpeg',
            'media/profile/profile2.jpeg',
            'media/profile/profile3.jpeg',
            'media/profile/default.jpeg'
        ];
        let currentIndex = 0; // Índice de la imagen actual
        const editButton = document.getElementById('edit-btn');
        const profileImage = document.getElementById('profile-image');
        // Cambiar la imagen al hacer clic en el botón
        editButton.addEventListener('click', function(event) {
            event.preventDefault();
            currentIndex = (currentIndex + 1) % images.length;
            profileImage.src = images[currentIndex];
        });

        function showConfirmation() {
            // Muestra el modal de confirmación
            document.getElementById("confirmationModal").style.display = "flex";
            // Aplica el efecto borroso al contenido principal
            //document.getElementById("mainContent").classList.add("blurred");
        }
        
        function closeConfirmation() {
            // Cierra el modal de confirmación
            document.getElementById("confirmationModal").style.display = "none";
            // Elimina el efecto borroso al contenido principal
            //document.getElementById("mainContent").classList.remove("blurred");
        }
    </script>
</body>
</html>