<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/view_docs.css">
</head>
<body>
  <div id="document-content">
    <h1><%= @document.filename %></h1>
    <p>Upload Date: <%= @document.uploaddate %></p>

    <h2>Statistics</h2>
    <!-- Aquí puedes agregar las estadísticas -->

    <h2>Questions</h2>
    <% @questions.each do |question| %>
      <div class="question">
        <p><%= question.content %></p>
        <% correct_answer = question.answer.option_id %> <!-- Obtiene la opción correcta -->
        <% question.options.each do |option| %>
          <p style="color: <%= option.id == correct_answer ? 'green' : 'black' %>;">
            <%= option.content %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
